body {
    background-image: url("https://cdn6.aptoide.com/imgs/3/7/9/379f13b1f412b2f135f66689d2627f00_fgraphic.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 100vh;
}